*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
/*BOOTSTRAP GRID LOGIC*/ 
.col1{width: 8.33%;}
.col2{width: 16.66%;}
.col3{width: 25%;}
.col4{width: 33.33%;}
.col5{width: 41.66%;}
.col6{width: 50%;}
.col7{width: 58.33%;}
.col8{width: 66.33%;}
.col9{width: 75%;}
.col10{width: 83.33%;}
.col11{width: 91.66%;}
.col12{width: 100%;}
[class*="col"]{
    float: left;
    padding: 20px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.mx-100{margin: auto 100px;}
.p-20{padding: 20px;}
.bg-blue{background-color: rgb(16, 16, 47);}
.txt-white{color: #fff;}
.row>div>h4{
    font-size: 25px;
}
.txt{
    color: #fff;
    line-height: 2;
    padding: 20px;
}
.txt p{font-size: 15px;margin: 20px;}
.txt span{color: orangered;}
.txt b{
    border-top: 6px solid white;
    padding: 10px;
    border-radius: 5px;}
.txt h1{
    font-size: 50px;
}
.btn1{
    border: none;
    background-color: rgb(47, 159, 122);
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.btn2{
    border: none;
    background-color: orangered;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
.btn1:hover{background-color: rgb(37, 122, 94);}
.btn2:hover{background-color: rgb(239, 64, 1);}
/* .row>div>h1::before{
    content: 'M';
    font-size: 40px;
    border-color: orangered;
    border-radius: 50px 20px 10px 5px;
    background:linear-gradient(to right,white,orangered 70% )
} */
nav>ul>li{
    list-style: none;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}
nav>ul>li>a{
    text-decoration: none;
    color: #fff;
}
nav>ul>li>a:hover{color: orangered;}
nav>ul>li>select{
    border: none;
    background-color: rgb(16, 16, 47);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
nav>ul>li>select:hover{color: orangered;}
nav>ul>li>button{
    background-color: rgb(47, 159, 122);
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
